.m_sm {
    margin: 10px;
  }
  .m_md {
    margin: 15px;
  }
  .m_lg {
    margin: 20px;
  }
  .m_xs {
    margin: 5px;
  }
  .m_l_sm {
    margin-left: 10px;
  }
  .m_l_md {
    margin-left: 15px;
  }
  .m_l_lg {
    margin-left: 20px;
  }
  .m_l_xs {
    margin-left: 5px;
  }
  .m_r_sm {
    margin-right: 10px;
  }
  .m_r_md {
    margin-right: 15px;
  }
  .m_r_lg {
    margin-right: 20px;
  }
  .m_r_xs {
    margin-right: 5px;
  }
  .m_t_sm {
    margin-top: 10px;
  }
  .m_t_md {
    margin-top: 15px;
  }
  .m_t_lg {
    margin-top: 20px;
  }
  .m_t_xs {
    margin-top: 5px;
  }
  .m_l_0{
  margin-left: 0px;
  }
  .m_b_sm {
    margin-bottom: 10px;
  }
  .m_b_lg {
    margin-bottom: 20px;
  }
  .m_0{
    margin: 0;
  }

  .m_b_0{
margin-bottom: 0px;
  }

  .m_b_sm{
    margin-bottom: 10px;
      }